<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/tortuga.ico') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            body {
                overflow-x:hidden;
                height:100%;
            }
            </style>
    </head>
    <body>
        <div class="row">
        {% for i in range(0,listalen): %}
    <div class="card mb-3 col-12">
        <div class="row no-gutters">
          <div class="col-4">
            <img src="{{lista[i].img}}" class="img-fluid card-img" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Placa: {{lista[i].Placa}}</h5>
              <p class="card-text">Nombre: {{lista[i].Nombre}}</p>
              <p class="card-text"><small class="text-muted">Hora: {{lista[i].Hora}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </body>
</html>
